<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DIARYPAL</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar ">
    <div class="navbar-container">
      <div class="navbar-header">
        <p class="navbar-brand">DIARYPAL</p>
      </div>
        <ul class="nav navbar-nav">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="signup"><a href="/Signup">SIGN UP</a></li>
          <li id="login"><a href="/login">LOG IN</a></li>

        </ul>
    </div>
  </nav>

  <body>
    <div class="wrap">
