<%- include("partials/header") -%>
<div class="register">
    <div class="reg">
        <h2>Congratulations</h2>
        <%usersWithSecrets.forEach(function(user){ %>
            <p class="secret-text"><%=user.secret%></p>
        <% })%> 
        <div class="reg-in">
            <form  action="/logOut" method="post">
                <button class="acc-btn" name="account" value="Login" type="Submit">Log Out</button>
            </form>
            <div class="reg-auth">
                <div class="reg-card">
                    <a class="btn-auth" href="/submit" role="button">new secret</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") -%>