<%- include("partials/header") -%>
<div class="register">
    <div class="reg">
        <h1>HOME</h1>
        <div class="home">
            <div class="home-con">
                <a class="home-a"  href="/submit">
                    <img class="home-img" src="note.avif">
                     how was your Day
                </a>

            </div>
            <div class="home-con">
                <a class="home-a" href="/compose">
                    <img class="home-img" src="rev.png">
                    Write a review
                </a>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") -%>